.header {
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_header.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__span-accent {
  display: block;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  max-width: 729px;
  /* margin-bottom: 28px; */
  margin-bottom: 0;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__paragraphs {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer {
  display: flex;
  justify-content: space-between;

  margin-top: auto;
}

/* .second {
  border: solid red;
  margin-top: 40px;
  display: inline;
} */

.nav__logo {
  position: relative;
  left: -50px;
  /* margin-left: 30px;
    margin-top: 30px; */
  width: 105px;
  height: 39px;
}

.header__image {
  top: 124px;
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
}

.header__paragraphs_right {
  align-self: end;
}
